@{
    ViewBag.Title = "Home Page";
}

<div class="section section-1">
    <div class="container">
        <div class="section-header">
            <h1>ZARABIAJ NA PLATFORMIE SPOŁECZNOŚCIOWEJ Z <span style="color:#a0faff">FUTURENET</span></h1>
        </div>
        <div class="raw">
            <div class="cite-container" style="min-height:50vh">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="intro">
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12" style="text-align:center">
                        <span class="fa fa-bank fa-4x" style="color:#ffffff" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                        <p style="padding-left:10px; margin-bottom:40px;">Doświadczony lider z 10-cio letnim doświadczeniem w branży reklamowej i biznesu wykorzystującego narzędzia internetowe do promowania marki pokaże Ci jak stworzył imperium obywateli i liderów ktorzy dzięki jego narzędziom i wiedzy zarobili tysiące dolarów.</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center !important; padding-top:20px;">
                        <a href="" id="register-link">ZAREJESTRUJ SIĘ JESZCZE DZIŚ</a>
                    </div>
                    <div style="text-align:right; width:100%">
                        <a href="" style="text-decoration:none !important" class="calculator-box">
                            <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i><span style="font-size:25px;">Odobierz kalkulator.</span><br />
                            <span style="text-align:left !important">Sprawdź sam jak szybko się z nami zarabia.</span>
                        </a>
                        <div id="partial-email-input">
                            @Html.Partial("_PartialEmailInput", new BusinessSite.Models.Email())
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="cite">
                    <cite>"Nie pracujmy dla pieniedzy, niech one pracuja dla nas."</cite><br />
                    <div style="text-align:right">
                        <span>Robert T. Kiyosaki</span>
                    </div>
                </div>
                <div class="col-lg-12 ol-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-2">
    <div class="container">
        aaa
    </div>
</div>

<div class="row hide">
    <div id="#contact">
        <div class="container">
            <div class="about-author">
                <div id="aurhor-content">
                    <img id="contact-author-img-1" src="~/Assets/img/michal.jpg" />
                    <div class="about-author-name">
                        ANDRZEJ NIWICKI
                    </div>
                    <div class="about-author-tags">
                        <i class="fa fa-facebook" aria-hidden="true"></i> Porozmawiajmy na priv<br />
                        <i class="fa fa-skype" aria-hidden="true"></i> michael<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> kontakt@futureNet.net<br />
                        <i class="fa fa-phone-square" aria-hidden="true"></i> +48 666 487 754
                    </div>
                </div>
            </div>
            @Html.Partial("_PartialPageContact", new BusinessSite.Models.ContactMessage())
        </div>
    </div>
</div>
