<div>
    @if (TempData["IsSuccess"] == "true" )
    {
        <div class="top-bar success-bar">
            @TempData["ViewBag.Message"]
        </div>
    }
    else if (TempData["IsSuccess"] == "false" || @Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
    {
        <div class="top-bar error-bar">
            @TempData["ViewBag.Message"] @Html.ValidationSummary(true, "")
        </div>
    }
</div>



