@{
    ViewBag.Title = "Zresetuj swoje hasło";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdź swoją pocztę e-mail w celu zresetowania hasła.
    </p>
</div>
	
