body {
    background-image: url(/Assets/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

.body-content {
    padding-top: 100px;
    width: 100%;
}

a {
    color: #a0faff;
}

    a:hover, a:active {
        color: black;
        background-color: #a0faff !important;
    }

.container-account {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-left:15px;
}

.site-top {
    display: inline-block;
    line-height: 80px;
    height: 80px;
    width: 100%;
    border-bottom: 0.2vh solid #a0faff;
    background-color: black;
}

.logo {
    right: 0;
    top: 0;
    line-height: 78px;
}

    .logo .logo-image {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 78px;
    }

    .logo img {
        height: 45px;
    }

    .logo .logo-social-media {
        position: absolute;
        z-index: 2;
        right: 220px;
        top: 8px;
    }

.image-shadow {
    z-index: 1;
    height: 70px;
    width: 69px;
    position: absolute;
    top: 5px;
    left: 0;
}

.about-author-image img {
    height: 70px;
    position: absolute;
    top: 5px;
    left: 0;
}

.fa:hover {
    color: rgba(82, 230, 238, 1) !important;
}

.fa-facebook {
    color: white;
}

.fa-youtube {
    color: white;
    padding-right: 10px;
}

#loginLink{
    background-color:rgba(255, 255, 255, 0.00) !important;
    text-decoration: none;
}

#loginLink:hover{
    background-color:rgba(255, 255, 255, 0.00) !important;
    color:white;
}

.site-top .about-author {
    position: absolute;
    z-index: 2;
    left: 75px;
    top: 0;
    height: 80px;
    min-width: 200px;
    display: block;
}

    .site-top .about-author .about-author-name {
        position: absolute;
        top: 5px;
        font-family: 'Open Sans', sans-serif;
        line-height: 20px;
        font-size: 20px;
        color: white;
    }

    .site-top .about-author .about-author-tags {
        position: absolute;
        top: 25px;
        font-family: 'Open Sans', sans-serif;
        line-height: 15px;
        font-size: 10px;
        color: white;
    }

.fixed-top {
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0.2vh solid #a0faff;
    border-top: 0.2vh solid #a0faff;
}

    .fixed-top img {
        height: 35px;
    }

.top-bar {
    line-height: 30px;
}

.error-bar {
    background-color: red;
    color: white;
    text-align: center;
}

    .error-bar ul {
        margin: 0 0 0 0 !important;
    }

.success-bar {
    background-color: greenyellow;
    color: white;
    text-align: center;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.dl-horizontal dt {
    white-space: normal;
}

#login-form {
    position: relative;
    line-height: 32px !important;
}

#password-btn {
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

a[class="password-btn"] {
    color: rgba(255, 0, 0, 0.7);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.00) !important;
}

    a[class="password-btn"]:hover {
        color: rgb(255, 0, 0);
        background-color: rgba(255, 255, 255, 0.00) !important;
    }

#register-btn {
    line-height: 15px;
    font-size: 10px;
    text-align: left;
}

a[class="register-btn"] {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.00) !important;
}

    a[class="register-btn"]:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.00) !important;
    }

a[class="links-btn"] {
    color: #51ebf3;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.00) !important;
}

    a[class="links-btn"]:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

.login-input {
    height: 20px;
    width: 9vw;
    padding-left: 1em;
    color: #808080;
    border: 0.1vh solid #51ebf3;
    /*border-radius: 0.8vh;     */
    display: inline-block;
    text-align: start;
    font-size: 1.6vh;
    background: url(/Assets/img/input_background.png) no-repeat;
    background-size: cover;
    margin-right: 0.4em;
    margin-top: 7px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    width: 100%;
    display: block;
    background: black;
    padding: 15px 15px 15px 15px;
    margin: 0 0 0 0;
    min-height: 15px;
}

input[type="text"], input[type="password"] {
    height: 20px;
    width: 30%;
    padding-left: 1em;
    color: #808080;
    border: 0.1vh solid #51ebf3;
    /*border-radius: 0.8vh;*/
    display: inline-block;
    text-align: start;
    font-size: 1.6vh;
    background: url(/Assets/img/input_background.png) no-repeat;
    background-size: cover;
    margin-right: 0.4em;
    margin-bottom: 4px;
}

textarea {
    height: 60px;
    width: 91%;
    max-width: none;
    padding-left: 1em;
    color: #808080;
    border: 0.1vh solid #51ebf3;
    /*border-radius: 0.8vh;*/
    display: inline-block;
    text-align: start;
    font-size: 1.6vh;
    background: url(/Assets/img/input_background.png) no-repeat;
    background-size: cover;
    margin-left: 4px;
    margin-top: 4px;
    resize: none;
}

input[type="submit"] {
    height: 20px;
    max-width: 280px;
    color: white;
    line-height: 10px !important;
    border: 0.1vh solid #51ebf3;
    display: inline-block;
    font-weight: bold;
    font-size: 1.6vh;
    background: url(/Assets/img/zaloguj.png) no-repeat;
    background-size: cover;
    margin-top: 7px;
    line-height: 20px;
}

    input[type="submit"].register-submit {
        width: 30%;
        margin-left: 0;
        line-height: 8px;
    }

#contact-author-img-1 {
    height: 80px;
}

#contact .about-author {
    position: relative;
    top: 0;
    left: 0;
}

    #contact .about-author .about-author-name {
        font-family: 'Open Sans', sans-serif;
        line-height: 20px;
        font-size: 20px;
        color: white;
    }

    #contact.about-author .about-author-tags {
        font-family: 'Open Sans', sans-serif;
        line-height: 15px;
        font-size: 10px;
        color: white;
    }

#contact-box {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 991px) {
    #contact-box {
        width: 400px;
    }
}

@media (min-width: 768px) {
    #contact #aurhor-content {
        position: absolute;
        top: 0;
        min-width: 300px;
    }

    #contact .about-author .about-author-tags {
        position: absolute;
        top: 20px;
        left: 90px;
    }

    #contact .about-author .about-author-name {
        position: absolute;
        top: 0;
        left: 90px;
    }
}

@media (max-width: 767px) {

    #register-btn {
        padding-left: 15px;
        line-height: 20px;
        font-size: 12px;
        color: white;
    }

    #password-btn {
        text-align: left;
        padding-left: 15px;
        line-height: 20px;
        font-size: 12px;
        color: red;
    }

    @media (min-width: 550px) {
        #contact #aurhor-content {
            position: relative;
            left: 25px;
        }

        #contact-author-img-1 {
            display: none;
        }
    }
}

@media(max-width: 658px) {
    #contact-box {
        width: 300px;
    }

    input[type="submit"] {
        width: 90%;
        margin-left: 0;
    }

        input[type="text"], input[type="password"], input[type="submit"].register-submit {
            width: 90%;

        }

    textarea {
        width: 90%;
        margin-left: 0;
    }
}

@media(max-width: 550px) {
    #contact-box {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    #contact .about-author {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    #contact #aurhor-content {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    #contact .about-author .about-author-tags {
        position: absolute;
        top: 20px;
        left: 90px;
    }

    #contact .about-author .about-author-name {
        position: absolute;
        top: 0;
        left: 90px;
    }
}

.contact-val-message {
    color: red !important;
    position: absolute;
    clear: both;
}


/*SECTION STYLES*/

.section {
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}

.section-2 {
    min-height: 200px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

.section h1 {
    font-weight: 600;
    padding: 0 8px 0 8px;
}

@media(max-width:325px) {
    .section h1 {
        font-weight: 500;
        font-size: 25px;
    }
}

.section cite {
    color: white;
    font-family: 'Tangerine', cursive;
    font-weight: 500;
    font-size: 40px;
}

.section #cite {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.section .cite-container {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.section #intro {
    text-align: left;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.section #register-link {
    text-decoration: none !important;
    font-size: 25px;
    border: 2vh solid #51ebf3;
    /*border-radius: 1.6vh;*/
    background: url(/Assets/img/zaloguj.png) no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: white;
    padding: 15px 25px 15px 25px;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

    .section #register-link:hover, .section .calculator-box:hover {
        opacity: 1;
        color: white;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

.section .calculator-box {
    position: relative;
    float: right;
    display: block;
    clear: both;
    opacity: 0.9;
    border: 2vh solid white;
    padding: 8px 15px 8px 15px;
    background-color: rgba(0, 0, 0, 0.32);
    background-size: cover;
    max-width: 380px;
    text-align: center;
    color: white;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

.section #email-submit {
    margin: 0 0 0 0 !important;
    position: relative;
    max-width: 35%;
    height: 30px;
    width:90%;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

.fa-bar-chart:hover {
    color: white !important;
}

#email-input {
    clear: both !important;
    border: 1vh solid #51ebf3 !important;
    border-radius: 0 !important;
    min-width: 80% !important;
    float: left;
    height: 40px;
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}

#partial-email-input {
    clear: both;
    position: relative;
    width: 100%;
    top: -18px;
}



@media(max-width:767px) {
    .section #cite {
        clear: both;
    }
}

@media(max-width:991px) {
    .section #register-link, .calculator-box span, .fa-bar-chart {
        font-size: 18px !important;
    }
}

@media(max-width:464px) {
    .section #register-link {
        font-size: 14px !important;
        padding-left: 5px;
        padding-right: 5px;
        border: 1vh solid;
    }
}

.section-header {
    text-align: center;
}
